.vscode/
node_modules/
platforms/
plugins/
res/
package-log.json
www/assets/font-awesome/
www/assets/materialize/
www/assets/css/styles.1.css
www/js/data/database.js
www/js/api/key.js
www/js/api/index-g.js
www/img/book-img.png
www/img/logo.png
*.log
*.db
www/img/character/
www/img/icon/
