html, body {
  height: 100%;
}
/* header & content & footer 배치 */
header {
  position: absolute;
  z-index: 1;
}
header nav {
  position: fixed;
  top: 0px;
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
header ~ .content {
  padding-top: 56px;
}
@media only screen and (min-width: 601px) {
  header ~ .content {
    padding-top: 64px;
  }
}
.content {
  overflow: auto;
  padding-bottom: 48px;
}
.header-text {
  font-size: x-large;
}
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
}


/* mybook, search에 책 정보 */
.book-list {
  position: static;
}
.book-list span p {
  font-size: 14px;
  margin: 0 25px 0 0;
}
.book-list .collection-header img {
  width: 20%;
  max-width: 85px !important;
  margin-right: 22px;
}
/* calendar month img */
.book-list .row {
  margin: 0;
}
.book-list .row li {
  padding: 0.75rem 0.75rem;
}
.book-list .row li span:nth-child(1) {
  padding: 0;
}
.book-list .month-img {
  width: 100%;
  max-width: 100px;
}
.book-list pre {
  margin: 5px 0;
}

.mybook-photos img {
  width: 100%;
  max-width: 300px;
}

/* search */
#target .close {
  display: none;
}
#target .barcode {
  display: block;
  color: #fff;
}
.search-book-list a {
  color: #000;  
}
.search-book-list li:hover {
  background: #fafafa;
}
.add-book {
  width: 100%;
}

/* p태그 폰트 사이지가 작은 것 같소 */
.calendar p {
  font-size: 10px;
}

/* mybook info */
/* ul태그에 쓸데없이 margin이 있다. */
.collection, .collapsible {
  margin: 0;
}
/* li태그에 쓸데없이 padding이 있다. */
.collection.with-header .collection-item {
  padding-left: 20px;
}

/* write에 버튼의 크기를 늘리자 */
.write button {
  width: 100%;
}
.write .photos {
  border: 0;
  width: 100%;
  padding: 5px;
  float: left;
  max-width: 400px;
}
.photos img {
  margin-top: -33px;
  width: 100%;
}
.photos i {
  color: #fff;
  text-align: right;
  display: block;
  position: sticky;
  padding: 5px;
  cursor: pointer;
  margin-left: 88%;
}

.table-view img {
  width: 100%;
}

.description {
  padding-right: 15px;
}

/* mybook info에 삭제, 수정시 필요한 정보 
실질적으로 사용자가 필요한 정보는 아니라서 숨긴다. */
.rowid, .index {
  display: none;
}

/* mybook-contents-tpl에 pre태그에 줄바꿈을 준다. */
pre {
  white-space: pre-wrap;
}

ul {
  list-style: none;
  padding: 0;
}
#mybook-list {
  padding-left: 20px;
}
#mybook-list li {
  padding: 3%;
  float: left;
}
#mybook-list img {
  width: 67px;
  height: 100px;
}

/* home의 캐릭터 이미지 관려 */
.character {
  margin: 20px auto 0;
}
.character-data {
  text-align: right;
}
.character img {
  width: 90px;
}
#gauge {
  color: orange; 
  margin-right: 6px;
}
.page-data {
  display: grid;
  text-align: left;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}
.character-list-view {
  padding: 25px;
  padding-top: 63px;
}
.view-wrap {
  background: white;
  margin-bottom: 100px;
}
.character-list-view .contents {  
  height: -webkit-fill-available;
  overflow: auto;
}
.character-list-view .contents ul{
  margin: auto;
  text-align: center;
}
.character-list-view .contents li{
  margin: 10px 5%;
  height: 100%;
  text-align: left;
}
.character-list-view .contents img{
  width: 85px;
  margin-left: 10px;
}
.character-list-view .contents p{
  text-align: left;
}
.character-list-view .contents a{
  width: 120px;
  float: right;
  white-space: nowrap;
  margin-bottom: 10px;
}
.character-list-view .contents i {
  margin-right: 0px;
}
.in-use {
  background: orange;
}
.in-use:hover {
  background: #ffb300;
}


/* calender */
/* table 초기화? */
.home-table table {
  width: auto !important;
}
table th, td {
  padding: 2px 3px !important;
}
.calendar {
  padding-bottom: 0;
}
.home-table .calendar-wrap{ 
  margin-bottom: 15px;
}
.calendar-wrap table {
  margin: auto;
}
.calendar caption{ 
  font-size: 1.5em;
  color: orange;
  padding: 10px;
}
.calendar caption i {
  vertical-align: sub;
}
.calendar th, .calendar td{
  border: 1px solid #666;
  border-collapse: collapse;
  font-size: 0.5em;
  width: 40px;
}
.calendar th{
  text-align: center;
  vertical-align: middle;
}
.calendar td {
  vertical-align: top;
  height: 44px;
}
.calendar td div{
  text-align: left;
  height: 6px;
}
.calendar td p {
  background: #26a96a;
  color: #111;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  left: 5%;
}
.month-cal td p {
  left: 25%;
}
.calendar th:first-child, .calendar td:first-child{ color: red;}	


/* calender-all */
.calendar-wrap .calendar-all {
  margin: 1.6%;
  float: left;
  font-size: 0.1em;
  inline-size: auto;
  width: 30%;
}
.calendar-all caption{ 
  font-size: 1em;
  padding: 1px;
}
.calendar-all th {
  font-weight: initial;
}
.calendar-all th, .calendar-all td{ 
  height: 1.9em;
  width: 1.5em;
  border: 0px;
  text-align: center;
  padding: 0.3em 0.2em !important;
}
.calendar-all:hover {
  background: antiquewhite;
}
.circle {
  background: #26a96a;
  color: #111;
  border-radius: 50%;
}
a .calendar-all {
  color: #000;
}

.today-td {
  border: 2px solid red !important;
}

.change-md {
  font-size: large;
}

/* mybook content의 more 버튼 누르면 나타날 것들 */
.hidden {
  display: none;
}
.show {
  display: block;
  background: #fff;
  position: absolute;
  right: 20px;
}
.show li {
  cursor: pointer;
  padding: 7px 23px;
}
.show li:hover {
  background: #f5f5f5;
}
/* mybook info의 헤더? 부분 */
.header-more {
  position: absolute;
  top: 70px;
  right: 20px;
}
.header-more-ul {
  top: 70px;
}  


/* percent */
.percent {
  position: relative;
  font-size: x-large;
  right: 1px;
  top: -39px;
  margin: auto;
  text-align: right;
}


/* search */
ul {
  border: 0;
}
.button-li {
  border: 0;
}